body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(236, 236, 236);
}

#calculator {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: rgb(39, 39, 39);
    border-radius: 15px;
    margin: 0px auto;
    width: min-content;
    overflow: hidden;
}

#display {
    width: 100%;
    height: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(65, 65, 65);
    color: white;
}

/* .small-font {
    font-size: 1rem;
} */

.all-keys {
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    padding: 25px;
    gap: 10px;
    margin: 0px auto;
}

.all-keys button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100px;
    padding: 30px;
    font-size: 2rem;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

}

#keys button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100px;
    height: 100px;
    padding: 30px;
    /* aspect-ratio: 1 / 1; */
    border-radius: 10px;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
    cursor: pointer;
    /* transition: 0.1s ease-in-out; */
}



#keys .number-btn:hover {
    background-color: hsl(0, 0%, 30%);
}

#keys .number-btn:active {
    background-color: hsl(0, 0%, 35%);
}

.clear-operator-btn {
    background-color: hsl(195, 100%, 50%);
    color: rgb(39, 39, 39);
}

#keys .operator-btn,
.clear-operator-btn {
    background-color: hsl(195, 100%, 50%);
    color: rgb(39, 39, 39);
}


#keys .operator-btn:hover,
.all-keys button:hover {
    background-color: hsl(195, 100%, 60%);
}


#keys .operator-btn:active,
.all-keys button:active {
    background-color: hsl(195, 100%, 70%)
}